@page "/"

<PageTitle>Index</PageTitle>
<div id="networkContainer">
    <canvas id="networkCanvas"></canvas>
</div>
<h1>Hello, Seeker!</h1>

<div class="row">
    <div class="fixed-width-col">
        <figure>
            <img src="@card1" class="my-image img-fluid" alt="@card1name">
            <figcaption class="text-center">@card1name</figcaption>
        </figure>
    </div>
    <div class="fixed-width-col">
        <figure>
            <img src="@card2" class="my-image img-fluid" alt="@card2name">
            <figcaption class="text-center">@card2name</figcaption>
        </figure>
    </div>
    <div class="fixed-width-col">
        <figure>
            <img src="@card3" class="my-image img-fluid" alt="@card3name">
            <p class="text-center">@card3name</p>
        </figure>
    </div>
</div>

    
<div class="m-3">
    <p>What is your question, seeker?</p>
    <InputText @bind-Value="@enteredText" Disabled="@disabled" Placeholder="What do you seek?" class="w-100" />
</div>

<div class="m-3">
    <button @onclick="() => LoadCards()">
        Ask Esmeralda
    </button>
</div>
<div class="m-3">
    @esmeraldaResponse
</div>
<script src="/js/network.min.js"></script>
<script>
    nwSetup.canvasId = 'networkCanvas';
    nwSetup.parentId = 'networkContainer';
    nwSetup.networkColor = '#00ffff'; // Aqua mesh
    nwSetup.backgroundColor = '#ffffff'; // White background
    nwSetup.interactive = true;
    nwSetup.nodeRadius = 2;
    nwSetup.lineWidth = 0.8;
    nwRender();
</script>

