@page "/"
@using LoadTarot

<PageTitle>Index</PageTitle>

<h1>Hello, Seeker!</h1>

<div class="row">
    <div class="fixed-width-col">
        <figure>
            <img src="@card1" class="my-image img-fluid" alt="@card1name">
            <figcaption class="text-center">@card1name</figcaption>
        </figure>
    </div>
    <div class="fixed-width-col">
        <figure>
            <img src="@card2" class="my-image img-fluid" alt="@card2name">
            <figcaption class="text-center">@card2name</figcaption>
        </figure>
    </div>
    <div class="fixed-width-col">
        <figure>
            <img src="@card3" class="my-image img-fluid" alt="@card3name">
            <p class="text-center">@card3name</p>
        </figure>
    </div>
</div>

    
<div class="m-3">
    <p>What is your question, seeker?</p>
    <InputText @bind-Value="@enteredText" Disabled="@disabled" Placeholder="What do you seek?" class="w-100" />
</div>

<div class="m-3">
    <button @onclick="() => LoadCards()">
        Ask Esmeralda
    </button>
</div>
<div class="m-3">
    @esmeraldaResponse
</div>

@code {
    private string? imageSource;
    private string? card1 = "img/1-23.png";
    private string? card2 = "img/1-23.png";
    private string? card3 = "img/1-23.png";
    private string? card1name = "";
    private string? card2name = "";
    private string? card3name = "";
    private string? enteredText = null;
    private bool disabled = false;
    private string? esmeraldaResponse = null;

    private void LoadCards()
    {
        int numberOfCards = 3;
        TarotCard[] cardNumbers = Tarot.CreateCards(numberOfCards);
        card1 = cardNumbers[0].ImageAsBase64;
        card1name = cardNumbers[0].DisplayName;
        card2 = cardNumbers[1].ImageAsBase64;
        card2name = cardNumbers[1].DisplayName;
        card3 = cardNumbers[2].ImageAsBase64;
        card3name = cardNumbers[2].DisplayName;
        esmeraldaResponse = "Esmeraldas Fortunes are not yet available";
    }
}